<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Instrucciones
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3><b> Instrucciones de uso:</b></h3>
        <h3> 1. CONFIGURACIÓN</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Es importante antes de comenzar cualquier tipo de cálculo primero dirigirse a la ventana de configuración
          y ajustar los parámetros iniciales para cualquier tipo de proyecto, ya sea calcular varias particiones o
          calcular solo una partición
        </p>
        <ion-row>
          <ion-col>
            <img src="assets/img/config.png">
          </ion-col>
        </ion-row>
        <p>
          Allí encontraremos las principales variables de inicio como lo son densidad del aire, velocidad de propagación
          y seleccionaremos el método de cálculo de nuestra preferencia, cabe resaltar que el método de cálculo
          seleccionado podrá activar o desactivar parámetros globales dentro de las ventanas de cálculo como materiales
          en los combo box y variables requeridas para el cálculo como la constante b (constante de espaciamiento  entre
           las bigas internas de  la  partición) para el método de Sharp. Cada vez que  actualicemos  nuestra  página  o 
          refresquemos el menú estos datos serán restaurados a los preestablecidos por defecto.
        </p>
        <h3><b> Instrucciones de uso:</b></h3>
        <h3>2. MATERIALES</h3>
        <p>
          La ventana de materiales esta diseñada para que el usuario pueda agregar o eliminar materiales de su base de
          datos, es importante llenar todos los parámetros requeridos en los campos para un correcto cargado y guardado
          de
          los materiales. El software cuenta con unos materiales preestablecidos los cuales sin importar si son
          eliminados
          volverán a ser cargados una vez cierre y vuelva a cargar su programa. Es importante que, si establece que el
          material cargado es absorbente solo lo verá reflejado en la cavidad del medio, y si NO ESTE SERÁ APLICADO PARA
          EL COMBO BOX DE MATERIALES RÍGIDOS Y ESTRUCTURALES APLICADOS PARA LAS PAREDES LATERALES DE LA PARTICIÓN.

        </p>
        <h3>3. CALCULAR UNA SOLA PARTICIÓN</h3>
        <p>
          Esta sección está diseñada para que el usuario pueda efectuar cálculos rápidos de una manera sencilla en una
          sola
          pared basta con tener las medidas de la partición y el tipo de partición e inmediatamente calcular la pérdida
          por
          trasmisión y establecerá los parámetros de magnitudes globales como lo son R’w espectros C y Ctr y parámetro
          STC.
        </p>
        <h3>4. TIPOS DE PARTICIÓN</h3>
        <p>
          Esta sección verá los tipos de partición que le brinda esta aplicación y las posibles cosas que no serán tan
          intuitivas usando esta herramienta por primera vez. Una vez se llegue  a esta parte encontrará  3 posibles tipos de
          partición para realizar un cálculo simple, doble o compuesta.
        </p>
        <h3>Simple:</h3>
        <p>
          En la partición de tipo simple, siempre independientemente del método de cálculo las variables de ingreso en el software
          serán las mismas. El  máximo  espesor de muros de este tipo, según la norma de sismo resistencia colombiana,
          (REGLAMENTO COLOMBIANO DE CONSTRUCCIÓN SISMO RESISTENTE NSR-10, TITULO D-MANPOSTERIA ESTRUCTURAL) establece un parámetro
          minimo de 30 cm de espesor, de acuerdo  esto el rango establecido para este parametro tiene un máximo de 30 cm y un mínimo
          de 1cm. Cabe denotar que este software usa como unidad de medida  metros, asi que los mismos serán  ingresados únicamente
          en esta unidad de medida.
        </p>
        <h3>Doble:</h3>
        <p>
          Para una partición doble con cavidad de aire en el medio usaremos el método de cálculo de Randall F. Barrón el
          cual por defecto solo nos dejará seleccionar dicho material en el medio. Pero si por el contrario el método de
          cálculo seleccionado corresponde al empleado por Sharp, inmediatamente se habilitará el listado de materiales
          absorbentes y también será obligatorio ingresár la variable de constante b para realizar el respectivo cálculo.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/doble (2).png">
          </ion-col>
        </ion-row>
        <h3>Compuesta:</h3>
        <P>
          Si la partición seleccionada es de tipo compuesta debe tener en cuenta que esta será realizada a través de un
          arreglo de las particiones simples y dobles, por lo mismo los parámetros mencionados anteriormente también
          aplicarán. Para una mayor precisión en este tipo de cálculo, se podrá calcular un mínimo de una partición
          compuesta por dos superficies y un máximo de tres. En esta ventana encontrará un orden de contención el cual
          debe ser respetado para lograr un buen resultado. La primera superficie, la número 1 , debe contener a las otras
          dos superficies. El ejemplo y la manera correcta de realizar el llenado de datos es:
        </P>
        <u>
          <h3>1 contiene a 2:</h3>
        </u>
        <p>
          Esto nos dice que la superficie más grande o de mayor dimensión contiene la superficie número 2 y esta es de
          menor dimensión y se encuentra inmersa en 1. Cabe resalta que la superficie número 1 debe estar en la opción
          de contenida en: Ninguno.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/compost.png">
          </ion-col>
        </ion-row>
        <p>
          De la misma manera aplica para una situación de 3 superficies, ejemplo:
        </p>
        <u>
          <h3>1 contiene a 2 y 2 contiene a 3:</h3>
        </u>
        <p>
          Esto nos dice que la superficie más grande o de mayor dimensión contiene a la superficie número 2 y esta es de
          menor dimensión y se encuentra inmersa en 1, pero a su vez 2 contiene a 3 , y la superficie 3 esta inmersa
          dentro de la superficie 2.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/compos2.png">
          </ion-col>
        </ion-row>
        <p>
          Si el caso de la partición es como la siguiente imagen de referencia solo deberá dejar la superficie 2 y la
          superficie 3, ambas contenidas en la superficie número 1. la superficie 1  que  por  defecto es la de mayor 
          dimensión en contenida en Ninguna.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/compost3.png">
          </ion-col>
        </ion-row>
        <h3>5. TIEMPO DE REVERBERACIÓN Y NIVEL DE PRESIÓN SONORA</h3>
        <p>
          Si quiere continuar para incorporar datos de volumen de la sala, tiempo de reverberación y el Nivel de presión
          sonora, para obtener una base de datos más robusta y otro tipo de gráficas de  predicción como: curvas N.C o un
          diagrama de barras del nivel de presión equivalente al interior de la sala. Debe dar clic en guardar y continuar
          diligenciando la información requerida por banda 1/3 de octava y luego dar clic en guardar y continuar. Es importante
          que se mantengan los rangos de valores estimados de cada parámetro para un correcto funcionamiento de la herramienta.
          Cabe resaltar que si algún cuadro de texto no se encuentra debidamente diligenciado no podrá continuar a la siguiente
          sección. Es por esto sumamente importante la veracidad de los datos y la verificación de su digitación correcta.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/splytr.png">
          </ion-col>
        </ion-row>
        <h3>6. RESULTADOS</h3>
        <p>
          Por último, encontrará una ventana de resultados donde tendrá diferentes gráficas claras de todos los
          parámetros calculados por esta herramienta computacional. En esta página podrá prender y apagar todos las
          gráficas y parámetros de cálculo para facilitar su lectura y análisis. También podrá con el cursor pararse
          encima de cualquier grafica para mirar sus máximos y mínimos valores. Al finalizar en la parte inferior de la
          misma página de resultados encontrará la opción de reiniciar donde restablecerá su ventana de trabajo al
          inicio y perderá absolutamente todos los datos y graficas proporcionados por el software. la otra opcion que
          tiene es imprimir o guardar este informe en formato PDF en cualquier parte de su ordenador.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/resultados.png">
          </ion-col>
        </ion-row>
        <h3>7. CALCULAR VARIAS PARTICIONES
        </h3>
        <p>
          Una vez haya aplicado todos los consejos dados en la parte de instrucciones para calcular una sola partición,
          estará listo para entrar e iniciar la opción de calcular varias particiones aplicando lo aprendido anteriormente.
          Esta opcion se encuentra diseñada para realizar cálculos un poco mas precisos teniendo en cuenta todas las particiones
          de un recinto regular, cuya geometría no tenga mayores complicaciones y no sea compleja, esta puede ser una sala cuadra
          o rectangular.
        </p>
        <p>
          Los parámetros anteriormente vistos deberán ser ingresados ahora por las cinco o seis caras del recinto, y la
          única cara que podrá no tenerse en cuenta a la hora del ingreso de los valores será la cara inferior suponiendo
          que la sala este ubicada en un primer piso o un mismo nivel. La opcion de guardado de datos y calcular solo se 
          encenderá y habilitará una vez usted halla ingresado correctamente los valores correspondientes para los otros cinco
          lados del recinto.
        </p>
        <ion-row>
          <ion-col>
            <img src="/assets/img/varias.png">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>