<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Materiales
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="4">
      <form [formGroup]="formMaterial" (ngSubmit)="save(formMaterial)" novalidate autocomplete="off">
        <ion-grid>
          <ion-row>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input type="text" formControlName="nombre">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Alias:</ion-label>
                <ion-input type="text" formControlName="alias">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Modulo de young:</ion-label>
                <ion-input type="number" formControlName="mYoung" myNumberOnly [max]="1000" [min]="0"
                  msg="Modulo de Young solo permite números ">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Densidad:</ion-label>
                <ion-input type="number" formControlName="densidad" myNumberOnly [max]="21500" [min]="0"
                  msg="Densidad solo permite números">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Coef. de absorción interno:</ion-label>
                <ion-input type="number" formControlName="coefInterno" myNumberOnly [max]="1" [min]="0"
                  msg="Coeficiente de absorción solo permite números ">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Factor ɳ:</ion-label>
                <ion-input type="number" formControlName="factorN" myNumberOnly [max]="1" [min]="0"
                  msg="Factor ɳ solo permite números ">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label position="floating">Coef. de Poisson:</ion-label>
                <ion-input type="number" formControlName="cPoison" myNumberOnly [max]="1" [min]="0"
                  msg="Coeficiente de Poisson solo permite números ">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6">
              <ion-item>
                <ion-label>Absorbente</ion-label>
                <ion-toggle [(ngModel)]="Absorvente" formControlName="Absorvente"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col size="12" class="ion-justify-content-center ion-text-center">
              <ion-button type="submit" shape="round" color="success" class="btn btn-default">APLICAR Y GUARDAR
              </ion-button>
            </ion-col>
            <ion-col size="12" class="ion-justify-content-center">
              <img src="/assets/img/crearmaterial.png">
              <div class="ion-text-center">
                <p>Tomado de www.aenor.com</p>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </form>
    </ion-col>
    <ion-col size="8">

      <ion-row>
        <ion-col size="3">
          NOMBRE DEL MATERIAL:
        </ion-col>
        <ion-col>
          MODULO DE YOUNG: E(10^9 N/m^2)
        </ion-col>
        <ion-col>
          DENSIDAD: ρ(kg/m^3)
        </ion-col>
        <ion-col>
          COEF. DE ABSOR. :
        </ion-col>
        <ion-col>
          FACTOR: (ɳ)
        </ion-col>
        <ion-col>
          COEF. DE POISSON:
        </ion-col>
        <ion-col>
          ABSORBENTE:
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>

      <ion-row *ngFor="let material of materials;let i=index">
        <ion-col size="3">{{material.alias}}</ion-col>

        <ion-col>{{material.mYoung}}</ion-col>
        <ion-col>{{material.densidad}}</ion-col>
        <ion-col>{{material.coefInterno}}</ion-col>
        <ion-col>{{material.factorN}}</ion-col>
        <ion-col>{{material.cPoison}}</ion-col>
        <ion-col>{{material.Absorvente ?"SI":"NO"}}</ion-col>
        <ion-col>
          <ion-button size="small" color="danger" (click)="delete(i)">Eliminar</ion-button>

        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>



</ion-content>