<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de este software
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3><b>Este proyecto</b></h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          Para el presente trabajo de grado  se planteó una metodología  de  enfoque cuantitativo, debido a que busca
          resolver problemas concretos relacionados con la reducción de tiempo para el cálculo de aislamiento acústico
          y obtener resultados de tipo numérico.  Así pues, su alcance es definido como descriptivo,de manera que toma
          como base principal la recolección,análisis e interpretación de datos acústicos, obtenidos mediante cálculos
          matemáticos y normativas internacionales.
        </p>
        <p>
          Este proyecto es parte de la línea de investigación de  la Universidad de San Buenaventura, de tecnologías
          actuales y sociedad, a su vez pertenece a la sub-línea de la Facultad de Ingeniería de Sonido, en el campo
          problemático de diseño de aplicaciones y acústica, debido a que se centra fundamentalmente en el desarrollo
          de un software para  el  cálculo y evaluación de aislamiento acústico por vía aérea de  un  recinto.  Dicho
          software fue desarrollado por los estudiantes Andres Mauricio Barrera Dussan y Mónica Marcela Bernal Cuesta.
          En compañía del Ingeniero Oscar Esneider Acosta Agudelo, docente  de la  Universidad  de  San  Buenaventura
          sede Bogota. Tutor y director del proyecto.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <img src="/assets/img/universidad.png">
      </ion-col>
      <ion-col>
        <img src="/assets/img/facultad.png">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>