<ion-row *ngIf="datos" class="ion-justify-content-center ion-align-items-center">
    <ion-col size="6">
        {{nombre}}
    </ion-col>
    <ion-col size="6">
        {{datos.type}}
    </ion-col>
    <ng-container *ngIf="datos.form && datos.form.largo">
        <ion-col size="4">
            Largo:
        </ion-col>
        <ion-col size="8">
            {{datos.form.largo}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.ancho">
        <ion-col size="4">
            Ancho:
        </ion-col>
        <ion-col size="8">
            {{datos.form.ancho}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.alto">
        <ion-col size="4">
            Alto:
        </ion-col>
        <ion-col size="8">
            {{datos.form.alto}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.constanteB">
        <ion-col size="4">
            Constante b:
        </ion-col>
        <ion-col size="8">
            {{datos.form.constanteB}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.material && datos.form.material.alias">
        <ion-col size="4">
            Material:
        </ion-col>
        <ion-col size="8">
            {{datos.form.material.alias}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.distancia">
        <ion-col size="4">
            EspesM1:
        </ion-col>
        <ion-col size="8">
            {{datos.form.espesor}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.distancia">
        <ion-col size="4">
            Distancia:
        </ion-col>
        <ion-col size="8">
            {{datos.form.distancia}}
        </ion-col>
    </ng-container>
    <ng-container *ngIf="datos.form && datos.form.distancia">
        <ion-col size="4">
            EspesM2:
        </ion-col>
        <ion-col size="8">
            {{datos.form.espesor2}}
        </ion-col>
    </ng-container>
     <!-- vetanita compuesta -->
     
</ion-row>