<ion-header>
  <ion-toolbar color="success">
    <ion-icon name="build-outline"></ion-icon>
    <ion-title>DATOS DE INICIO DEL PROGRAMA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label position="floating">Densidad del aire (kg/m3)</ion-label>
            <ion-input type="number" [value]="data.densidad" (input)="setDensidad($event.target.value)"
             myNumberOnly [max]="1.3673" [min]="0.835"
              msg="Densidad del aire solo permite números "></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label position="floating">Velocidad propagacion del sonido (m/s)</ion-label>
            <ion-input type="number" [value]="data.propagacion" (input)="setPropagacion($event.target.value)"
             myNumberOnly [max]="390" [min]="320"
              msg="Velocidad propagacion del sonido solo permite números ">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label>Seleccione el metodo de cálculo</ion-label>
            <ion-select placeholder="Seleccione" [value]="data.metodo" (ionChange)="setMetodo($event.target.value)">
              <ion-select-option value="barron">Barron</ion-select-option>
              <ion-select-option value="sharp">Sharp</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="closeModal()">Guardar Datos</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>