.container {
  min-height: 80vh;
  border: 1px solid;
  border-radius: 1rem;
  margin: 1rem;
}

.select_gris {
  background-color: #D8D8D8;
}

.forms {
  form {
    height: 70vh;
    overflow-y: auto;
  }
}


.full{
  --ion-color-base:var(--ion-color-danger) !important;
  --ion-color-contrast:white !important;
  
}
.active{
  --ion-color-base:white !important;
  --ion-color-contrast: var(--ion-color-primary, #3880ff) !important;

}

ion-col input{
  position: relative;
  width: 100%;
}


@media print {

  .app-root, .ion-page, ion-app, ion-nav, ion-tab, ion-tabs {
    contain: none;
  }
body {
position: static;
overflow: initial;
}
ion-nav {
overflow: initial !important;
}
.scroll-content {
position: relative;
overflow:visible!important;
}

 .scroll-content, .ion-page.show-page, .ion-page.show-page > ion-content, .app-root, ion-tabs, ion-tab, ion-row, ion-col {
    position: relative;
    height: auto;
    contain: none;
    overflow: visible;
  }

ion-header {
display: none !important;
}

ion-button {
display: none !important;
}
header nav, footer {
display: none;
}
button {
display: none !important;
}
ion-fab {
display: none;
}
p a {
word-wrap: break-word;
}
}
