<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Página principal </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size-md="4">
      <ion-button (click)="presentModalCondiciones()" expand="block" color="success">
        Configuración
      </ion-button>
    </ion-col>
    <ion-col size-md="4">
      <ion-button (click)="enable(view.proyecto)" expand="block" color="primary">
        Calcular varias particiones
      </ion-button>
    </ion-col>
    <ion-col size-md="4">
      <ion-button (click)="enable(view.particion)" expand="block" color="warning">
        Calcular solo una partición
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="container">
    <ion-row *ngIf="currentView == view.particion && currentStep == steps.normal">
      <ion-col size="2">
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="enableType(types.simple)" expand="block" color="primary">
              Simple
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="enableType(types.doble)" expand="block" color="success">
              Doble
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="enableType(types.compuesta)" expand="block" color="danger">
              Compuesta
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <img class="img-responsive" [src]="rutaType" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4" class="forms">
        <form *ngIf="currentType == types.simple" [formGroup]="formSimple" (ngSubmit)="calcSimple(formSimple)"
          novalidate autocomplete="off">
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">LARGO (m)</ion-label>
                <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                  msg="Largo solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ANCHO (m)</ion-label>
                <ion-input type="number" formControlName="ancho" myNumberOnly [max]="0.3" [min]="0"
                  msg="Ancho solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ALTO (m)</ion-label>
                <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                  msg="Alto solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MATERIAL</ion-label>
                <ion-select interface="popover" formControlName="material" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="primary">
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <!--form2 doble-->
        <form *ngIf="currentType == types.doble" [formGroup]="formDoble" (ngSubmit)="calcDoble(formDoble)" novalidate
          autocomplete="off">
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">LARGO (m)</ion-label>
                <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                  msg="Largo solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">ALTO (m)</ion-label>
                <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                  msg="Alto solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item *ngIf="this.metodo == 'sharp'">
                <ion-label position="floating">CONSTANTE b </ion-label>
                <ion-input type="number" formControlName="constanteB" myNumberOnly [max]="100" [min]="0"
                  msg="Constante B solo permite números "></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!--Material_lamina_Externa-->
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. EXTERNO (M1)</ion-label>
                <ion-select interface="popover" formControlName="material" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ESPESOR (M1)</ion-label>
                <ion-input type="number" formControlName="espesor" myNumberOnly [max]="0.36" [min]="0"
                  msg="Espesor solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <!--Material_lamina_absorvente-->
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. ABSORBENTE (d)</ion-label>
                <ion-select interface="popover" formControlName="material1" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="
                      let material of materials
                        | absorvente: true:this.metodo == 'barron'
                    ">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">DISTANCIA (d)</ion-label>
                <ion-input type="number" formControlName="distancia" myNumberOnly [max]="0.36" [min]="0"
                  msg="Distancia solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <!--Material_lamina_Interna-->
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. INTERNO (M2)</ion-label>
                <ion-select interface="popover" formControlName="material2" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ESPESOR (M2)</ion-label>
                <ion-input type="number" formControlName="espesor2" myNumberOnly [max]="0.36" [min]="0"
                  msg="Espesor solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="primary">
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <form *ngIf="currentType == types.compuesta" [formGroup]="formCompuesta"
          (ngSubmit)="calcCompuesta(formCompuesta)" novalidate autocomplete="off">
          <ion-row>
            <ion-col>
              <ion-button (click)="addSub(types.simple)" type="button" expand="block" color="primary">
                Compuesta Simple
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="addSub(types.doble)" type="button" expand="block" color="primary">
                Compuesta Doble
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let base of formCompuesta.controls; let i = index">
            <ng-container [formGroup]="base">
              <ion-col *ngIf="base.value.type == types.simple">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="6"> Material {{ i + 1 }} </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Contenido en </ion-label>
                      <ion-select formControlName="contenido" interface="popover">
                        <ion-select-option value="">Ninguno</ion-select-option>
                        <ion-select-option *ngIf="i != 0" value="0">1</ion-select-option>
                        <ion-select-option *ngIf="i != 1 && formCompuesta.length > 1" value="1">2</ion-select-option>
                        <ion-select-option *ngIf="i != 2 && formCompuesta.length > 2" value="2">3</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">LARGO (m)</ion-label>
                      <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                        msg="Largo solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ANCHO (m)</ion-label>
                      <ion-input type="number" formControlName="ancho" myNumberOnly [max]="0.3" [min]="0"
                        msg="Ancho solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ALTO (m)</ion-label>
                      <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                        msg="Alto solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MATERIAL</ion-label>
                      <ion-select interface="popover" formControlName="material" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="base.value.type == types.doble">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="6"> Material {{ i + 1 }} </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Contenido en </ion-label>
                      <ion-select formControlName="contenido" interface="popover">
                        <ion-select-option value="">Ninguno</ion-select-option>
                        <ion-select-option *ngIf="i != 0" value="0">1</ion-select-option>
                        <ion-select-option *ngIf="i != 1 && formCompuesta.length > 1" value="1">2</ion-select-option>
                        <ion-select-option *ngIf="i != 2 && formCompuesta.length > 2" value="2">3</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label position="floating">LARGO (m)</ion-label>
                      <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                        msg="Largo solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label position="floating">ALTO (m)</ion-label>
                      <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                        msg="Alto solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item *ngIf="this.metodo == 'sharp'">
                      <ion-label position="floating">CONSTANTE b </ion-label>
                      <ion-input type="number" formControlName="constanteB" myNumberOnly [max]="100" [min]="0"
                        msg="Constante B solo permite numeros "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. EXTERNO (M1)</ion-label>
                      <ion-select interface="popover" formControlName="material" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ESPESOR (M1)</ion-label>
                      <ion-input type="number" formControlName="espesor" myNumberOnly [max]="0.36" [min]="0"
                        msg="Espesor solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <!--Material_lamina_absorvente-->
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. ABSORBENTE (d)</ion-label>
                      <ion-select interface="popover" formControlName="material1" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials
                              | absorvente: true:this.metodo == 'barron'
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">DISTANCIA (d)</ion-label>
                      <ion-input type="number" formControlName="distancia" myNumberOnly [max]="0.36" [min]="0"
                        msg="Distancia solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <!--Material_lamina_Interna-->
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. INTERNO (M2)</ion-label>
                      <ion-select interface="popover" formControlName="material2" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ESPESOR (M2)</ion-label>
                      <ion-input type="number" formControlName="espesor2" myNumberOnly [max]="0.36" [min]="0"
                        msg="Espesor solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ng-container>
          </ion-row>
          <ion-row *ngIf="formCompuesta.length > 1" class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="primary">
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-col size="12">
            <div [ngStyle]="{ display: lineChart ? 'block' : 'none' }" class="ion-text-center">
              <h3>GRÁFICA PÉRDIDA POR TRANSMISIÓN </h3>
            </div>
            <canvas #lineCanvas></canvas>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="lineChart">
          <div class="ion-text-center">
            <h4>
              RESULTADOS: R.W
              {{ r1W }}
              (C)
              {{ espectroCalculo }}
              (CTR)
              {{ espectroCtrCalculo }}
              (STC)
              {{ resultadoStc }}
            </h4>
          </div>
          <ion-col>
            <ion-button (click)="enableStep(steps.spl)" color="warning" shape="round" color="success">
              Guardar y Continuar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentView == view.particion && currentStep == steps.normal">
      <ion-col size="1">
        <ion-row>
          <ion-col size="12"> Freq. (Hz) </ion-col>
          <ion-col size="12"> TL (dB) </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngFor="let fr of f; let i = index">
        <ion-row>
          <ion-col size="12"> {{ fr }} </ion-col>
          <ion-col size="12"> {{ tl[i] | number: '1.0-1' }} </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="currentView == view.proyecto && currentStep == steps.normal">
      <!---->
      <ion-col size="3">
        <ion-row>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.derecha,
                full: derecha
              }" (click)="enableCara(caras.derecha)" expand="block" color="primary">
              Cara Derecha
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.izquierda,
                full: izquierda
              }" (click)="enableCara(caras.izquierda)" expand="block" color="primary">
              Cara Izquierda
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.frontal,
                full: frontal
              }" (click)="enableCara(caras.frontal)" expand="block" color="primary">
              Cara Frontal
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.trasera,
                full: trasera
              }" (click)="enableCara(caras.trasera)" expand="block" color="primary">
              Cara Trasera
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.superior,
                full: superior
              }" (click)="enableCara(caras.superior)" expand="block" color="primary">
              Cara Superior
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button [ngClass]="{
                active: currentCara == caras.inferior,
                full: inferior
              }" (click)="enableCara(caras.inferior)" expand="block" color="primary">
              Cara Inferior
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <img class="img-responsive" [src]="ruta" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row *ngIf="currentCara" class="ion-justify-content-center">
          <ion-col size="12">
            <ion-button (click)="enableType(types.simple)" expand="block" color="primary">
              Simple
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="enableType(types.doble)" expand="block" color="success">
              Doble
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="enableType(types.compuesta)" expand="block" color="danger">
              Compuesta
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <img class="img-responsive" [src]="rutaType" />
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="calcAll()" [disabled]="
                !superior || !derecha || !izquierda || !frontal || !trasera
              " type="button" expand="block" color="warning">
              Calcular
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="Reset()" expand="block" color="secondary">
              Reiniciar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="currentType" size="4" class="forms">
        <form *ngIf="currentType == types.simple" [formGroup]="formSimple" (ngSubmit)="save(formSimple, currentCara)"
          novalidate autocomplete="off">
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">LARGO (m)</ion-label>
                <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                  msg="Largo solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ANCHO (m)</ion-label>
                <ion-input type="number" formControlName="ancho" myNumberOnly [max]="0.3" [min]="0"
                  msg="Ancho solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ALTO (m)</ion-label>
                <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                  msg="Alto solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MATERIAL</ion-label>
                <ion-select interface="popover" formControlName="material" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="success">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <!--form2 doble-->
        <form *ngIf="currentType == types.doble" [formGroup]="formDoble" (ngSubmit)="save(formDoble, currentCara)"
          novalidate autocomplete="off">
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">LARGO (m)</ion-label>
                <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                  msg="Largo solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">ALTO (m)</ion-label>
                <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                  msg="Alto solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item *ngIf="this.metodo == 'sharp'">
                <ion-label position="floating">CONSTANTE b </ion-label>
                <ion-input type="number" formControlName="constanteB" myNumberOnly [max]="100" [min]="0"
                  msg="Constante B solo permite números "></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!--Material_lamina_Externa-->
          <ion-row class="ion-justify-content-center">
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. EXTERNO (M1)</ion-label>
                <ion-select interface="popover" formControlName="material" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ESPESOR (M1)</ion-label>
                <ion-input type="number" formControlName="espesor" myNumberOnly [max]="0.36" [min]="0"
                  msg="Espesor solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <!--Material_lamina_absorvente-->
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. ABSORBENTE (d)</ion-label>
                <ion-select interface="popover" formControlName="material1" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="
                      let material of materials
                        | absorvente: true:this.metodo == 'barron'
                    ">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">DISTANCIA (d)</ion-label>
                <ion-input type="number" formControlName="distancia" myNumberOnly [max]="0.36" [min]="0"
                  msg="Distancia solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <!--Material_lamina_Interna-->
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">MAT. INTERNO (M2)</ion-label>
                <ion-select interface="popover" formControlName="material2" okText="SELECCIONAR" cancelText="CANCELAR">
                  <ion-select-option [value]="material" *ngFor="let material of materials | absorvente: false:false">
                    {{ material.alias }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">ESPESOR (M2)</ion-label>
                <ion-input type="number" formControlName="espesor2" myNumberOnly [max]="0.36" [min]="0"
                  msg="Espesor solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-button type="saveAs" expand="block" color="success">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <form *ngIf="currentType == types.compuesta" [formGroup]="formCompuesta"
          (ngSubmit)="save(formCompuesta, currentCara)" novalidate autocomplete="off">
          <ion-row>
            <ion-col>
              <ion-button (click)="addSub(types.simple)" type="button" expand="block" color="primary">
                Compuesta simple
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="addSub(types.doble)" type="button" expand="block" color="primary">
                Compuesta doble
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let base of formCompuesta.controls; let i = index">
            <ng-container [formGroup]="base">
              <ion-col *ngIf="base.value.type == types.simple">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="6"> Material {{ i + 1 }} </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Contenido en </ion-label>
                      <ion-select formControlName="contenido" interface="popover">
                        <ion-select-option value="">Ninguno</ion-select-option>
                        <ion-select-option *ngIf="i != 0" value="0">1</ion-select-option>
                        <ion-select-option *ngIf="i != 1 && formCompuesta.length > 1" value="1">2</ion-select-option>
                        <ion-select-option *ngIf="i != 2 && formCompuesta.length > 2" value="2">3</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">LARGO (m)</ion-label>
                      <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                        msg="Largo solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ANCHO (m)</ion-label>
                      <ion-input type="number" formControlName="ancho" myNumberOnly [max]="0.3" [min]="0"
                        msg="Ancho solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ALTO (m)</ion-label>
                      <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                        msg="Alto solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MATERIAL</ion-label>
                      <ion-select interface="popover" formControlName="material" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col *ngIf="base.value.type == types.doble">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                  <ion-col size="6"> Material {{ i + 1 }} </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">Contenido en </ion-label>
                      <ion-select formControlName="contenido" interface="popover">
                        <ion-select-option value="">Ninguno</ion-select-option>
                        <ion-select-option *ngIf="i != 0" value="0">1</ion-select-option>
                        <ion-select-option *ngIf="i != 1 && formCompuesta.length > 1" value="1">2</ion-select-option>
                        <ion-select-option *ngIf="i != 2 && formCompuesta.length > 2" value="2">3</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label position="floating">LARGO (m)</ion-label>
                      <ion-input type="number" formControlName="largo" myNumberOnly [max]="100" [min]="0"
                        msg="Largo solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label position="floating">ALTO (m)</ion-label>
                      <ion-input type="number" formControlName="alto" myNumberOnly [max]="100" [min]="0"
                        msg="Alto solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item *ngIf="this.metodo == 'sharp'">
                      <ion-label position="floating">CONSTANTE b </ion-label>
                      <ion-input type="number" formControlName="constanteB" myNumberOnly [max]="100" [min]="0"
                        msg="Constante B solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. EXTERNA (M1)</ion-label>
                      <ion-select interface="popover" formControlName="material" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ESPESOR (M1)</ion-label>
                      <ion-input type="number" formControlName="espesor" myNumberOnly [max]="0.36" [min]="0"
                        msg="Espesor solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <!--Material_lamina_absorvente-->
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. ABSORBENTE (d)</ion-label>
                      <ion-select interface="popover" formControlName="material1" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials
                              | absorvente: true:this.metodo == 'barron'
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">DISTANCIA (d)</ion-label>
                      <ion-input type="number" formControlName="distancia" myNumberOnly [max]="0.36" [min]="0"
                        msg="Distancia solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                  <!--Material_lamina_Interna-->
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">MAT. INTERNO (M2)</ion-label>
                      <ion-select interface="popover" formControlName="material2" okText="SELECCIONAR"
                        cancelText="CANCELAR">
                        <ion-select-option [value]="material" *ngFor="
                            let material of materials | absorvente: false:false
                          ">
                          {{ material.alias }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="floating">ESPESOR (M2)</ion-label>
                      <ion-input type="number" formControlName="espesor2" myNumberOnly [max]="0.36" [min]="0"
                        msg="Espesor solo permite números "></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ng-container>
          </ion-row>
          <ion-row *ngIf="formCompuesta.length > 1" class="ion-justify-content-center">
            <ion-col size="6">
              <ion-button type="submit" expand="block" color="success">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>

      <ion-col *ngIf="currentType" size="2" class="forms">
        <app-show *ngIf="derecha" nombre="Derecha" [datos]="derecha"></app-show>
        <app-show nombre="Izquierda" [datos]="izquierda"></app-show>
        <app-show nombre="Frontal" [datos]="frontal"></app-show>
        <app-show nombre="Trasera" [datos]="trasera"></app-show>
        <app-show nombre="Superior" [datos]="superior"></app-show>
        <app-show nombre="Inferior" [datos]="inferior"></app-show>
      </ion-col>

      <ion-col [ngStyle]="{ display: currentType ? 'none' : 'block' }" size="6">
        <canvas #lineCanvas></canvas>
        <ion-row *ngIf="lineChart">
          <ion-col>
            <ion-button (click)="enableStep(steps.spl)" color="warning" shape="round" color="success">
              Guardar y Continuar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Spl y R.T UNA PARTICION-->
    <ion-row *ngIf="currentView == view.particion && currentStep == steps.spl">
      <ion-col size="2">
        <ion-title>
          <div class="ion-text-center">
            INGRESE RT Y SPL.
          </div>
        </ion-title>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="currentDatos = datosPresion.tr" expand="block" color="tertiary">
              TIEMPO DE REVERBERACIÓN
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <img class="img-responsive" [src]="ruta" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="10">
        <form *ngIf="currentDatos == datosPresion.tr" [formGroup]="tr" (ngSubmit)="saveTR(tr)"
          novalidateautocomplete="off">
          <ion-row>
            <ion-col size="12">
              <ion-label>TIEMPO DE REVERBERACIÓN.</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>Frecuencias (Hz)</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of f; let i = index">
                  {{ f[i] }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of formTr.controls; let i = index">
                  <input type="number" [formControl]="formTr.controls[i]" style="color: black" myNumberOnly [max]="10"
                    [min]="0.1" min="0.1" max="10" msg="Tiempo de reverberacion solo permite numeros " />
                </ion-col>
              </ion-row>
            </ion-col>

            <!--NEW-->
            <ion-col size="12">
              <ion-label>RUIDO DE FONDO.</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>Frecuencias (Hz)</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of f; let i = index">
                  {{ f[i] }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of formRf.controls; let i = index">
                  <input type="number" [formControl]="formRf.controls[i]" style="color: black" myNumberOnly [max]="10"
                    [min]="0.1" min="0.1" max="10" msg="Ruido de fondo solo permite numeros " />
                </ion-col>
              </ion-row>
            </ion-col>

            <!--END-->

            <ion-col size="12">
              <ion-label> Tiempo de reverberación (Segundos)</ion-label>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">VOLUMEN DE LA SALA RECEPTORA (m3)</ion-label>
                <ion-input type="number" formControlName="volumen" myNumberOnly [max]="250" [min]="25"
                  msg="Volumen de la sala solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-button type="submit" expand="block" color="success">
                Guardar e ingresar SPL
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <form *ngIf="currentDatos == datosPresion.sp" [formGroup]="sp" (ngSubmit)="saveSP(sp)"
          novalidateautocomplete="off">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>
                  Seleccione si su partición colinda con fachada:
                </ion-label>
                <ion-select [(ngModel)]="seleccionado" [ngModelOptions]="{ standalone: true }" class="select_gris">
                  <ion-select-option value=""> Seleccione </ion-select-option>
                  <ion-select-option [value]="item" *ngFor="let item of lista">{{ item }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item *ngIf="seleccionado == 'SI'">
                <ion-label> Seleccione el tipo de fuente sonora </ion-label>
                <ion-select class="select_gris" [(ngModel)]="fuenteSonora" placeholder="Seleccione"
                  [ngModelOptions]="{ standalone: true }">
                  <ion-select-option value="ruidoFondo">Ruido ambiente</ion-select-option>
                  <ion-select-option value="parlante">Parlante de medición</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-label>NIVEL DE PRESIÓN SONORA</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>Frecuencias (Hz)</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of f; let i = index">
                  {{ f[i] }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of sp.controls; let i = index">
                  <input type="number" [formControl]="sp.controls[i]" style="color: black" myNumberOnly [max]="140"
                    [min]="1" min="1" max="140" msg="Nivel de presion sonora solo permite numeros " />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-label> Nivel de presión sonora (dB)</ion-label>
            </ion-col>
            <ion-col>
              <ion-button type="submit" shape="round" color="success">
                Guardar y Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <!-- SPL y R.T PROYECTO -->
    <ion-row *ngIf="currentView == view.proyecto && currentStep == steps.spl">
      <ion-col size="3">
        <ion-title> INGRESE VALORES DE SPL POR CARA </ion-title>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="currentDatos = datosPresion.tr" expand="block" color="tertiary">
              Tiempo de reverberación sala recep.
            </ion-button>
          </ion-col>
          <ng-container *ngIf="currentDatos == datosPresion.sp">
            <ion-col size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.derecha,
                  full: paramCaras.Derecha.guardado
                }" (click)="enableCara(caras.derecha, true)" expand="block" color="medium">
                Cara Derecha
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.izquierda,
                  full: paramCaras.Izquierda.guardado
                }" (click)="enableCara(caras.izquierda, true)" expand="block" color="medium">
                Cara Izquierda
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.frontal,
                  full: paramCaras.Frontal.guardado
                }" (click)="enableCara(caras.frontal, true)" expand="block" color="medium">
                Cara Frontal
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.trasera,
                  full: paramCaras.Trasera.guardado
                }" (click)="enableCara(caras.trasera, true)" expand="block" color="medium">
                Cara Trasera
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.superior,
                  full: paramCaras.Superior.guardado
                }" (click)="enableCara(caras.superior, true)" expand="block" color="medium">
                Cara Superior
              </ion-button>
            </ion-col>
            <ion-col *ngIf="inferior" size="12">
              <ion-button [ngClass]="{
                  active: currentCara == caras.inferior,
                  full: paramCaras.Inferior.guardado
                }" (click)="enableCara(caras.inferior, true)" expand="block" color="medium">
                Cara Inferior
              </ion-button>
            </ion-col>
          </ng-container>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <img class="img-responsive" [src]="ruta" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="9">
        <form *ngIf="currentDatos == datosPresion.tr" [formGroup]="tr" (ngSubmit)="saveTR(tr)"
          novalidateautocomplete="off">
          <ion-row>
            <ion-col size="12">
              <ion-label>TIEMPO DE REVERBERACIÓN.</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>Frecuencias (Hz)</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of f; let i = index">
                  {{ f[i] }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of formTr.controls; let i = index">
                  <input type="number" [formControl]="formTr.controls[i]" style="color: black" myNumberOnly [max]="10"
                    [min]="0.1" min="0.1" max="10" msg="Tiempo de reverberacion solo permite numeros " />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-label>Tiempo de reverberación (Segundos)</ion-label>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">VOLUMEN DE LA SALA RECEPTORA (m3)</ion-label>
                <ion-input type="number" formControlName="volumen" myNumberOnly [max]="250" [min]="25"
                  msg="Volumen de la sala solo permite números "></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="3">
              <ion-button type="submit" expand="block" color="success">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <form *ngIf="currentDatos == datosPresion.sp" [formGroup]="sp" (ngSubmit)="saveSPCara(sp, currentCara)"
          novalidateautocomplete="off">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label>
                  Seleccione si su partición colinda con fachada:
                </ion-label>
                <ion-select [(ngModel)]="seleccionado" [ngModelOptions]="{ standalone: true }" class="select_gris">
                  <ion-select-option value=""> seleccione </ion-select-option>
                  <ion-select-option class="select_gris" [value]="item" *ngFor="let item of lista">{{ item }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item *ngIf="seleccionado == 'SI'">
                <ion-label> Seleccione el tipo de fuente sonora </ion-label>
                <ion-select class="select_gris" [(ngModel)]="fuenteSonora" placeholder="Seleccione"
                  [ngModelOptions]="{ standalone: true }">
                  <ion-select-option value="ruidoFondo">Ruido ambiente</ion-select-option>
                  <ion-select-option value="parlante">Parlante de medición</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-label>INGRESE EL NIVEL DE PRESIÓN SONORA.</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label>Frecuencias (Hz)</ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of f; let i = index">
                  {{ f[i] }}
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col *ngFor="let _f of sp.controls; let i = index">
                  <input type="number" [formControl]="sp.controls[i]" style="color: black" myNumberOnly [max]="140"
                    [min]="1" min="1" max="140" msg="Nivel de presion sonora solo permite numeros " />
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-label> Nivel de presión sonora (dB)</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-button type="submit" expand="block" shape="round" color="success">
                Guardar
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="splAll()" shape="round" [disabled]="
                  !paramCaras.Superior.guardado ||
                  !paramCaras.Derecha.guardado ||
                  !paramCaras.Izquierda.guardado ||
                  !paramCaras.Frontal.guardado ||
                  !paramCaras.Trasera.guardado
                " type="button" expand="block" color="warning">
                Calcular
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <!--CARA RESULTADOS PARTICION-->
    <ion-row *ngIf="currentStep == steps.resultados" ion-content-print>
      <ion-col size="12">
        <div class="ion-text-center">
          <h3>DIAGRAMA DE BARRAS NIVEL DE PRESIÓN EQUIVALENTE AL INTERIOR DE LA SALA</h3>
        </div>
        <canvas #lineCanvasBarras></canvas>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-center">
          <h3>GRÁFICA PÉRDIDA POR TRANSMISIÓN</h3>
        </div>
        <canvas #lineCanvas></canvas>
        <ion-col [ngStyle]="{
            display: view.particion !== currentView ? 'none' : 'block'
          }">
          <div class="ion-text-center">
            <h3>RESULTADOS ÚNICA PARTICIÓN</h3>
          </div>
          <div class="ion-text-center">
            R.W
            {{ r1W }}
            (C)
            {{ espectroCalculo }}
            (CTR)
            {{ espectroCtrCalculo }}
            (STC)
            {{ resultadoStc }}
          </div>
        </ion-col>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-center">
          <h3>GRÁFICA CURVAS N.C</h3>
        </div>
        <canvas #lineCanvasNc></canvas>
      </ion-col>
      <ion-col [ngStyle]="{
          display: view.particion !== currentView ? 'none' : 'block'
        }" size="6">
        <div class="ion-text-center">
          <h3>DNT</h3>
        </div>
        <canvas #lineCanvasDnT></canvas>
        DNT:{{ dNt }}
      </ion-col>
      <ion-col [ngStyle]="{
          display: view.particion !== currentView ? 'none' : 'block'
        }" size="6">
        <div class="ion-text-center">
          <h3>D</h3>
        </div>
        <canvas #lineCanvasD></canvas>
      </ion-col>
      <!--CARA RESULTADOS PROYECTO-->
      <ion-col size="12" [ngStyle]="{
          display: view.proyecto !== currentView ? 'none' : 'block'
        }">
        <ion-row>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA R'w PARA CARAS DERECHA E IZQUIERDA</h3>
            </div>
            <canvas #lineCanvasLR></canvas>
            RESULTADOS PARA DERECHA E IZQUIERDA // R.W DERECHA
            {{ paramCaras.Derecha.r1W }}
            (C)
            {{ paramCaras.Derecha.c }}
            (CTR)
            {{ paramCaras.Derecha.ctr }}
            R.W IZQUIERDA
            {{ paramCaras.Izquierda.r1W }}
            (C)
            {{ paramCaras.Izquierda.c }}
            (CTR)
            {{ paramCaras.Izquierda.ctr }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA R'w PARA CARAS FRONTAL Y TRASERA</h3>
            </div>
            <canvas #lineCanvasFB></canvas>
            RESULTADOS PARA FRONTAL Y TRASERA // R.W FRONTAL
            {{ paramCaras.Frontal.r1W }}
            (C)
            {{ paramCaras.Frontal.c }}
            (CTR)
            {{ paramCaras.Frontal.ctr }}
            R.W TRASERA
            {{ paramCaras.Trasera.r1W }}
            (C)
            {{ paramCaras.Trasera.c }}
            (CTR)
            {{ paramCaras.Trasera.ctr }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA R'w PARA CARAS SUPERIOR E INFERIOR</h3>
            </div>
            <canvas #lineCanvasUD></canvas>
            RESULTADOS PARA SUPERIOR Y INFERIOR // R.W SUPERIOR
            {{ paramCaras.Superior.r1W }}
            (C)
            {{ paramCaras.Superior.c }}
            (CTR)
            {{ paramCaras.Superior.ctr }}
            R.W INFERIOR
            {{ paramCaras.Inferior.r1W }}
            (C)
            {{ paramCaras.Inferior.c }}
            (CTR)
            {{ paramCaras.Inferior.ctr }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA STC PARA CARAS DERECHA E IZQUIERDA</h3>
            </div>
            <canvas #lineCanvasLRstc></canvas>
            STC DERECHA
            {{ paramCaras.Derecha.resultadoStc }}
            STC IZQUIERDA
            {{ paramCaras.Izquierda.resultadoStc }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA STC PARA CARAS FRONTAL Y TRASERA</h3>
            </div>
            <canvas #lineCanvasFBstc></canvas>
            STC FRONTAL
            {{ paramCaras.Frontal.resultadoStc }}
            STC TRASERA
            {{ paramCaras.Trasera.resultadoStc }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA STC PARA CARAS SUPERIOR E INFERIOR</h3>
            </div>
            <canvas #lineCanvasUDstc></canvas>
            STC SUPERIOR
            {{ paramCaras.Superior.resultadoStc }}
            STC INFERIOR
            {{ paramCaras.Inferior.resultadoStc }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA DNT</h3>
            </div>
            <canvas #lineCanvasProDNT></canvas>
            DNT Derecha:
            {{ paramCaras.Derecha.dNt }}
            DNT Izquierda:
            {{ paramCaras.Izquierda.dNt }}
            DNT Frontal:
            {{ paramCaras.Frontal.dNt }}
            DNT Trasera:
            {{ paramCaras.Trasera.dNt }}
            DNT Superior:
            {{ paramCaras.Superior.dNt }}
            DNT Inferior:
            {{ paramCaras.Inferior.dNt }}
          </ion-col>
          <ion-col size="6">
            <div class="ion-text-center">
              <h3>GRÁFICA D</h3>
            </div>
            <canvas #lineCanvasProD></canvas>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="print()" expand="block" color="primary">
          Imprimir o guardar como PDF
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="resetPagina()" expand="block" color="danger">
          Reiniciar
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
